.programs__cards{
    cursor: pointer;
}

.programs__title{
    text-align: center;
    color: $color-primary;
    font-size: 22px;
    font-weight: 700;
}

.programs__titulos--title, .cards__carrera{
    font-size: 18px;
    font-weight: 700;
    color: #282C31;
}

.btn-card{
    display: none;
}

.cards__anio{
    font-size: 14px;
    font-weight: 400;
    color: #74777A;
}

@media (min-width: 768px){
    .programs__cards{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cards__carrera, .cards__anio{
        flex: 1;
        margin: 0;
    }

    .btn-card{
        display: block;
    }
    

    .programs__cards{
        cursor: default;
    }
}